@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  height: 100%;
}
* {
  box-sizing: border-box;
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.randomize,
.start {
  cursor: pointer;
}
.randomize {
  margin-right: 1em;
}
.start {
  margin-left: 1em;
}
.game-proper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.message-log {
  text-align: center;
  margin-top: 0.5em;
  border: 2px solid gray;
  width: 20em;
  padding: 1em 0 1em 0;
}
.mainboard {
  display: flex;
}
.player-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
  margin-top: 1em;
  border: 2px solid gray;
}
.enemy-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 1em;
  margin-top: 1em;
  border: 2px solid gray;
}
.row {
  display: flex;
  height: 35px;
}
.column {
  width: 35px;
  margin: 0.5px;
  border: 2px solid black;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    27deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(156, 161, 229, 1) 21%,
    rgba(2, 13, 189, 1) 100%
  );
}
.column:hover {
  border: 2px solid gold;
  cursor: pointer;
}
.carrier {
  background: #b7410e;
}
.battleship {
  background: #e1ad01;
}
.frigate {
  background: gray;
}
.submarine {
  background: magenta;
}
.destroyer {
  background: #40e0d0;
}
.tanker {
  background: #addfad;
}
.hit {
  background: red;
}
.miss {
  background: white;
}

@media (max-width: 768px) {
  * {
    font-size: 12px;
  }
  .mainboard {
    display: flex;
    flex-direction: column;
  }
  .player-wrapper {
    margin-right: 0;
  }
  .enemy-wrapper {
    margin-left: 0;
  }
}
