@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  height: 100%;
}
* {
  box-sizing: border-box;
}
.main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.randomize {
  margin-right: 0.5em;
}
.start {
  margin-left: 0.5em;
}
.randomize,
.start,
.restart {
  cursor: pointer;
  font-family: lato, sans-serif;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-decoration: none;
  background: white;
  color: black;
  padding: 5px 7px 5px 7px;
  border: 3px solid black;
  border-radius: 20px;
}
.randomize:hover,
.start:hover,
.restart:hover {
  background: black;
  color: white;
}
.randomize:disabled,
.start:disabled {
  color: gray;
  border: 1px solid;
  pointer-events: none;
}
.game-proper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.message-log {
  text-align: center;
  margin-top: 0.5em;
  border: 2px solid gray;
  width: 30em;
  padding: 1em 0 1em 0;
}
.mainboard {
  display: flex;
}
.player-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 1em;
  margin-top: 1em;
}
.enemy-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
  margin-top: 1em;
}
.row {
  display: flex;
  height: 35px;
}
.column {
  width: 35px;
  margin: 0.5px;
  border: 2px solid gray;
  background: #f9f9f9;
}
.column:hover {
  border: 2px solid gold;
  cursor: pointer;
}
.playerboard .carrier,
.playerboard .battleship,
.playerboard .frigate,
.playerboard .submarine,
.playerboard .destroyer,
.playerboard .tanker {
  background-color: rgba(58, 134, 255, 0.4);
  border: 2px solid #3a86ff;
}
.carrier,
.battleship,
.frigate,
.submarine,
.destroyer,
.tanker {
  background-color: rgba(58, 134, 255, 0.4);
  border: 2px solid #3a86ff;
}
.hit {
  background-color: rgb(230, 13, 13, 0.4);
  border: 2px solid rgb(231, 111, 111);
}
.miss {
  background: rgb(131, 131, 131, 0.5);
  border: 1px solid white;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  text-align: center;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.restart {
  cursor: pointer;
}

@media (max-width: 768px) {
  * {
    font-size: 12px;
  }
  .mainboard {
    display: flex;
    flex-direction: column;
  }
  .player-wrapper {
    margin-left: 0;
  }
  .enemy-wrapper {
    margin-right: 0;
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
}
